<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scan app</title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <script src="/static/html5-qrcode.min.js"></script>
  </head>
  <body>
    <h1 id="title">Logged in as {{ user }}</h1>
    <div class="row">
      <div
        class="col-12 col-4-lg"
        id="reader"
        style="width: 300px; min-height: 400px"
      ></div>
      <div class="is-hidden col card" id="results">
        <pre id="results-content"></pre>
      </div>
    </div>
    <div class="row">
      <div class="col col-2-lg">
        <button id="stop" class="button error">Stop</button>
        <button id="start-reading" class="button success is-hidden">
          Start scanning
        </button>
        <a href="/download" id="download" class="button">Download csv data</a>
      </div>
      <div class="col col-2-lg">
        <select name="camera-selection" id="camera-selection"></select>
      </div>
    </div>
    <details class="dropdown">
      <summary class="button">Help?</summary>
      <div class="card">
        <p>
          Focus the QR code in the box. <br />
          If a qr code is scanned you may get an error if the qr code is not
          valid.<br />
          If it is valid you will see the data parsed displayed on the
          screen.<br />
          You can stop anytime to scan by pressing the button <tt>Stop</tt>
        </p>
        <p>
          To download the recorded data as a csv file<br />
          use the button <tt>Download csv data</tt>.
        </p>
      </div>
    </details>
    <script>
      // Camera config
      const config = { fps: 5, qrbox: 350 };
      // Callback function when code is scanned:
      // Send an http request to /data with code scanned
      const qrCodeSuccessCallback = (message) => {
        fetch("/data", {
          method: "POST",
          body: JSON.stringify({
            code: message,
          }),
        })
          .then(function (response) {
            // The API call was successful!
            if (response.ok) {
              return response.json();
            } else {
              return Promise.reject(response);
            }
          })
          .catch((response) => {
            response.json().then((data) => {
              console.error(data);
              document.getElementById("title").innerHTML =
                "Wrong code scanned: " + message;
              // If server return code != 200 alert the error
              alert(JSON.stringify(data));
            });
            return Promise.reject(response);
          })
          .then(function (data) {
            // If data was received stop the reading of the camera
            // and print down the results
            html5QrCode.stop();
            document
              .getElementById("start-reading")
              .classList.remove("is-hidden");
            document.getElementById("stop").classList.add("is-hidden");
            console.log(data);
            document.getElementById("title").innerHTML =
              "Code scanned successfully!";
            document.getElementById("reader").classList.add("is-hidden");
            document.getElementById("results").classList.remove("is-hidden");
            document.getElementById("results-content").innerHTML =
              "Parsed data:\n" + JSON.stringify(data, null, 2);
          })
          .catch(function (err) {
            // There was an error
            console.warn("Something went wrong.", err);
          });
      };
      const createCameraSelectionDropbox = (cameras, html5QrCode) => {
        const cameraSelection = document.querySelector("#camera-selection");
        cameras.map((camera) => {
          const cameraOption = document.createElement("option");
          cameraOption.innerHTML = camera.label;
          cameraOption.value = camera.id;
          cameraSelection.appendChild(cameraOption);
        });
        cameraSelection.addEventListener("change", function (event) {
          cameraId = event.target.value;
          html5QrCode
            .stop()
            .then((ignore) => {
              console.log("Camera ID: " + cameraId, "Config: " + config);
              html5QrCode.start(
                { deviceId: cameraId.toString() },
                config,
                qrCodeSuccessCallback
              );
            })
            .catch((err) => {
              console.debug("Caught error: " + err);
              html5QrCode.start(
                { deviceId: cameraId.toString() },
                config,
                qrCodeSuccessCallback
              );
            });
        });
      };
      const html5QrCode = new Html5Qrcode("reader", false);
      let cameras;
      Html5Qrcode.getCameras()
        .then((devices) => {
          cameras = devices;
          if (devices && devices.length) {
            createCameraSelectionDropbox(cameras, html5QrCode);
            const cameraSelection = document.getElementById("camera-selection");
            const cameraId =
              cameraSelection[cameraSelection.selectedIndex].value;
            html5QrCode.start(
              { deviceId: cameraId },
              config,
              qrCodeSuccessCallback
            );
          }
        })
        .catch((err) => {
          alert(err);
        });

      document.getElementById("stop").addEventListener("click", (e) => {
        html5QrCode.stop();
        document.getElementById("start-reading").classList.remove("is-hidden");
        document.getElementById("stop").classList.add("is-hidden");
      });
      document
        .getElementById("start-reading")
        .addEventListener("click", (e) => {
          document.getElementById("reader").classList.remove("is-hidden");
          document.getElementById("results").classList.add("is-hidden");
          document.getElementById("start-reading").classList.add("is-hidden");
          document.getElementById("stop").classList.remove("is-hidden");
          const cameraSelection = document.getElementById("camera-selection");
          const cameraId = cameraSelection[cameraSelection.selectedIndex].value;
          html5QrCode.start(
            { deviceId: cameraId },
            config,
            qrCodeSuccessCallback
          );
        });
    </script>
  </body>
</html>
